<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<footer id="footer-2395">
    <div class="cs-container">
        <div class="cs-logo-group">
            <a href="/" class="cs-logo" aria-label="back to home">
                <img src="/assets/svgs/ra-logo.svg" alt="Redeemed Arrow logo" loading="lazy" decoding="async" width="321" height="56" aria-hidden="true">
            </a>
            <p class="cs-text">
                <strong>Redeemed Arrow Behavior Consulting</strong> is a leading behavioral consulting firm that helps foster & adoptive families unlock their full potential through evidence-based strategies and personalized approaches.
            </p>
            <div class="cs-contact-info">
                <span class="cs-header">Contact</span>
                <a href="mailto: {{ client.email }}" class="cs-contact-link">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/mail-w.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async" aria-hidden="true">
                    {{ client.email }}
                </a>
                <a href="{{ client.address.mapLink }}" class="cs-contact-link" target="_blank" rel="noopener noreferrer">
                    <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/pin-w.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async" aria-hidden="true">
                    {{ client.address.city }}
                </a>
            </div>
            <div class="cs-social">
                <!--Get more icons at flaticon.com and download the svg-->
                <a href="{{ client.socials.facebook }}" class="cs-social-link" aria-label="visit facebook">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/face-w.svg" alt="icon" width="12" height="12" loading="lazy" decoding="async" aria-hidden="true">
                </a>
                <a href="{{ client.socials.circle }}" class="cs-social-link" aria-label="visit circle">
                    <img class="cs-social-icon" src="/assets/svgs/Circle.svg" alt="icon" width="12" height="12" loading="lazy" decoding="async" aria-hidden="true">
                </a>
            </div>
        </div>
        <div class="cs-service-group">
            <span class="cs-header">Services</span>
            <ul class="cs-ul">
                <li class="cs-li"><a href="/parent-coaching/" class="cs-link">Individual Parent Coaching Sessions</a></li>
                <li class="cs-li"><a href="/group-coaching/" class="cs-link">Group Coaching Sessions</a></li>
                <li class="cs-li"><a href="/behavior-training/" class="cs-link">On-Demand Behavioral Training</a></li>
                <li class="cs-li"><a href="/community-membership/" class="cs-link">Community Support Group Membership</a></li>
            </ul>
            <div class="cs-terms">
                <a href="/terms/" class="cs-link">Terms & Condition</a>
                <a href="/privacy/" class="cs-link">Privacy Policy</a>
                <a href="/cancellation/" class="cs-link">Cancellation</a>
            </div>
            <span id="dynamic-copyright" class="cs-credit"></span>
        </div>
    </div>
    <img class="cs-floater" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/flower-svg.svg" alt="flower graphic" loading="lazy" decoding="async" width="635" height="728" aria-hidden="true">
</footer>
                                