/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-929 {
        padding: var(--sectionPadding);
        /* 160px - 200px */
        padding-top: clamp(10rem, 16vw, 12.5rem);
        padding-bottom: 0;
        position: relative;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 900;
            text-transform: uppercase;
            line-height: 1.2em;
            text-align: inherit;
            max-width: (1096/16rem);
            /* 8px - 16px */
            margin: 0 0 clamp(0.5rem, 2vw, 1rem) 0;
            color: var(--bodyTextColorWhite);
            position: relative;
        }

        .cs-flex {
            width: 100%;
            /* removed at small desktop */
            margin-bottom: (40/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: (40/16rem);
        }

        .cs-content-group {
            width: 100%;
            /* changes to 352px at small desktop */
            max-width: (700/16rem);
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: (650/16rem);
            margin: 0 auto (28/16rem) auto;
            color: #f7f7f7;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (32/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-hours-group {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            row-gap: (20/16rem);
            column-gap: (24/16rem);
        }

        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            text-align: center;
            width: 100%;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-hours {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-day {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: bold;
            color: var(--primary);
            display: block;
        }

        .cs-time {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: #f7f7f7;
            display: block;
        }

        .cs-picture-group {
            position: relative;
        }

        .cs-tagline {
            /* 52px - 62px */
            font-size: clamp(3.25rem, 7vw, 3.875rem);
            font-family: "Mr Dafoe", cursive;
            line-height: 0.9em;
            max-width: 5ch;
            margin: 0 auto (-34/16rem);
            color: var(--primary);
            display: block;
            transform: rotate(-14.36deg) translateX(6.25rem);
        }

        .cs-picture {
            width: 100%;
            height: auto;
            max-height: (598/16rem);
            display: flex;
            align-items: flex-end;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #1a1a1a;
                opacity: 0.96;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-929 {
        .cs-header {
            text-align: left;
            width: auto;
            /* removed at small desktop */
            max-width: 8ch;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #hero-929 {
        .cs-flex {
            margin: 0;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            position: absolute;
            /* 80px - 100px */
            bottom: clamp(5rem, 8vw, 6.25rem);
        }

        .cs-content-group {
            text-align: left;
            width: 24vw;
            max-width: (352/16rem);
        }

        .cs-hours-group {
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-header {
            max-width: 100%;
        }

        .cs-picture-group {
            margin-top: (-50/16rem);
        }

        .cs-tagline {
            margin: 0;
            position: absolute;
            /* changes at large desktop */
            right: (60/16rem);
            /* 90px - 130px */
            top: clamp(5.625rem, 10vw, 8.125rem);
        }
    }
}

/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-929 {
        .cs-hours-group {
            max-width: (320/16rem);
            flex-direction: row;
            justify-content: flex-start;
        }

        .cs-header {
            width: 100%;
        }

        .cs-tagline {
            right: (26/16rem);
            top: (130/16rem);
        }
    }
}
/*End Hero */

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #sbsr-2374 {
        padding: var(--sectionPadding);
        background-color: #FBF9F5;
        box-sizing: border-box;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            /* 32px - 100px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(2rem, 8vw, 6.25rem) clamp(1rem, 3vw, 4rem);
            background-color: #fff;
            border-radius: (16/16rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 40px - 48px */
            gap: clamp(2.5rem, 5vw, 3rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            max-width: (992/16rem);
        }

        .cs-content2 {
            .cs-text {
                margin-bottom: (16/16rem);

                &:last-of-type {
                    margin-bottom: (32/16rem);
                }
            }
        }

        .cs-flex {
            width: 100%;
            /* 24px - 32px top & bottom */
            /* 16px - 32px left & right */
            padding: clamp(1.5rem, 4vw, 2rem) clamp(1rem, 3vw, 2rem);
            box-sizing: border-box;
            background-color: #FBF9F5;
            border-radius: (16/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 16px - 32px */
            gap: clamp(1rem, 4vw, 2rem);
        }

        .cs-h3 {
            font-size: (25/16rem);
            line-height: 1.2em;
            font-weight: 700;
            /* 16px - 32px */
            margin: 0 0 clamp(1rem, 3vw, 2rem);
            padding-bottom: (32/16rem);
            border-bottom: 1px solid #D2D8DF;
            color: var(--headerTextColor);
        }

        .cs-ul {
            width: 100%;
            margin: 0 0 (32/16rem);
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-li {
            font-size: var(--bodyFontSize);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push icon top the top so if the list item goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-icon {
            width: (19/16rem);
            height: auto;
            /* adds extra space between the icon and top of parent so it's more centered */
            margin-top: 3px;
            display: block;
            flex: none;
        }

        .cs-link {
            font-size: var(--bodyFontSize);
            text-decoration: none;
            line-height: 1.5em;
            font-weight: 700;
            margin: 0;
            color: var(--secondary);
            position: relative;
            z-index: 1;

            &:before {
                content: '';
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }

        .cs-picture {
            width: 100%;
            height: 75vw;
            max-height: (350/16rem);
            border-radius: (16/16rem);
            /* clips the border radius of the image */
            overflow: hidden;
            display: block;
            order: -1;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
            }
        } 
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-2374 {
        .cs-flex {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-h3 {
            /* 108px - 142px */
            min-height: clamp(6.75rem, 12vw, 8.875rem);
        }

        .cs-picture {
            width: 70vw;
            max-width: (528/16rem);
            height: auto;
            max-height: 100%;
            order: 2;
        }
    }
}

/*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-561 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-topper {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: 0.1em;
            font-weight: 700;
            color: var(--headerColor);
            margin-bottom: (4/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (24/16rem);

            &:before {
                /* yellow line */
                content: "";
                width: (50/16rem);
                height: 2px;
                background: var(--secondary);
                opacity: 1;
                display: block;
            }
        }

        .cs-quote {
            /* 31px - 49px */
            font-size: clamp(0.96875rem, 2.55vw, 1.53125em);
            line-height: 1.2em;
            font-weight: 600;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-name {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.7vw, 1.25rem);
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0;
            color: var(--secondary);
            display: block;
            letter-spacing: 0.01em;
        }
    }
}

                                