// ─────────────────────────────────────────────────────────────────────────────
// CODESTITCH GLOBAL STYLES
// Core stylesheet containing CSS variables, base element
// styling, typography rules, utility classes, component styles, navigation,
// footer, and other repeated section styles for the entire site
// ─────────────────────────────────────────────────────────────────────────────

/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* CodeStitch Core Styles + Reset */
@media only screen and (min-width: 0px) {
	/* All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
	:root {
		--primary: #1A7A8A;
		--primaryLight: #1A7A8A;
		--secondary: #5C2F8C;
		--secondaryLight: #5C2F8C;
		--headerColor: #1C1C1C;
		--bodyTextColor: #3A3A3A;
		--bodyTextColorWhite: #EBEBEB;

		/* 13px - 16px */
		--topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
		/* 31px - 49px */
		--headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
		--bodyFontSize: 1rem;
		/* 60px - 100px top and bottom */
		--sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

		--headerFont: "Roboto", Arial, sans-serif;
		--bodyFont: "Roboto", Arial, sans-serif;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		font-family: var(--bodyFont);
		font-size: 100%;
color: var(--bodyTextColor);
	}

	*,
	*:before,
	*:after {
		/* prevents padding from affecting height and width */
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	.cs-topper {
		font-size: var(--topperFontSize);
		line-height: 1.2em;
		text-transform: uppercase;
		text-align: inherit;
		letter-spacing: 0.1em;
		font-weight: 700;
		color: var(--primary);
		margin-bottom: 0.25rem;
		display: block;
	}

	.cs-title {
		font-size: var(--headerFontSize);
		font-weight: 900;
		line-height: 1.2em;
		text-align: inherit;
		max-width: 43.75rem;
		margin: 0 0 1rem 0;
		color: var(--headerColor);
		position: relative;
	}

	.cs-text {
		font-size: var(--bodyFontSize);
		line-height: 1.5em;
		text-align: inherit;
		width: 100%;
		max-width: 40.625rem;
		margin: 0;
		color: var(--bodyTextColor);
	}
}

/* Components + Utilities */
@media only screen and (min-width: 0px) {
	// Hidden screen reader skip nav button
	.skip {
		z-index: -1111111;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
	}

	// Buttons - can be replaced using CodeStitch's "Button" Stitches. Make sure to clear the default .cs-button-solid/outline styles from any new stitches you place.
	.cs-button-solid {
		z-index: 1;
		position: relative;
		display: inline-block;
		background-color: var(--primary);
		width: auto;
		padding: (16/16rem) (32/16rem);
		text-decoration: none;
		text-transform: uppercase;
		font-size: (16/16rem);
		line-height: (16/16em);
		font-weight: bold;
		border-radius: (4/16rem);
		overflow: hidden;

		// Transition Properties
		color: var(--bodyTextColorWhite);
		transition: color 0.3s;
		transition-delay: 0.1s;
		text-align: center;

		&:hover {
			color: #fff;

			&:before {
				width: 100%;
			}
		}

		&:before {
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			opacity: 1;
			display: block;
			background-color: #000;
			height: 100%;

			//Transition properties
			width: 0;
			transition: width 0.3s;
		}
	}

	.cs-button-outline {
		z-index: 1;
		position: relative;
		display: inline-block;
		width: auto;
		padding: (16/16rem) (32/16rem);
		text-decoration: none;
		text-transform: uppercase;
		font-size: (16/16rem);
		line-height: (16/16em);
		font-weight: bold;
		border: 2px solid #000;

		// Transition Properties
		color: #000;
		transition: color 0.3s;
		transition-delay: 0.1s;
		text-align: center;

		&:hover {
			color: #fff;

			&:before {
				width: 100%;
			}
		}

		&:before {
			z-index: -1;
			position: absolute;
			top: 0;
			left: 0;
			content: "";
			opacity: 1;
			display: block;
			background-color: #000;
			height: 100%;

			//Transition properties
			width: 0;
			transition: width 0.3s;
		}
	}

	// Utilities - small classes useful in various common situations
	.cs-color {
		color: var(--primary);
	}

	.cs-bold {
		font-weight: 700;
	}

	.cs-hide-on-mobile {
		display: none !important;
	}
}

/* Desktop Utilities */
@media only screen and (min-width: 64rem) {
	.cs-hide-on-mobile {
		display: block !important;
	}

	.cs-hide-on-desktop {
		display: none !important;
	}
}

/* Base Element Styles */
@media only screen and (min-width: 0px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--headerFont);
		line-height: 1.2em;
		color: var(--headerColor);
	}

	p,
	li,
	a {
		font-size: (16/16rem);
		line-height: 1.5em;
	}

	p,
	li {
		color: var(--bodyTextColor);

		a {
			color: var(--primary);
		}
	}

	a,
	button {
		&:hover {
			cursor: pointer;
		}
	}
}

/* Fonts */
@media only screen and (min-width: 0px) {
	// Grab your fonts to locally host from https://gwfh.mranftl.com/fonts
	/* roboto-regular - latin */
	@font-face {
		font-style: normal;
		font-family: "Roboto";
		font-weight: 400;
		font-display: swap;
		src: local(""), url("/assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* roboto-700 - latin */
	@font-face {
		font-style: normal;
		font-family: "Roboto";
		font-weight: 700;
		font-display: swap;
		src: local(""), url("/assets/fonts/roboto-v29-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}

	/* roboto-900 - latin */
	@font-face {
		font-style: normal;
		font-family: "Roboto";
		font-weight: 900;
		font-display: swap;
		src: local(""), url("/assets/fonts/roboto-v29-latin-900.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("/assets/fonts/roboto-v29-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	}
}
/* End of Core Styles */


/*-- -------------------------- -->
<---     Mobile Navigation      -->
<--- -------------------------- -*/

/* Mobile - 1023.5px */
@media only screen and (max-width: 1023.5px) {
    body {
        &.cs-open {
            overflow: hidden;
        }
    }

    #cs-navigation {
        width: 91%;
        max-width: (1280/16rem);
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        /* 12px - 24px */
        padding: clamp(0.75rem, 2vw, 1.5rem);
        border-radius: (16/16rem);
        position: fixed;
        top: (20/16rem);
        left: 50%;
        z-index: 10000;
        transform: translateX(-50%);
        transition: top 0.3s, border-radius 0.3s, width 0.3s, max-width 0.3s;

        &:before {
            /* background color */
            content: "";
            width: 100%;
            height: 100%;
            background: #08101a;
            opacity: 1;
            border-radius: (16/16rem);
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: transform 0.2s, border-radius 0.3s ease-in-out;
        }

        &:after {
            /* background color */
            content: "";
            width: 100%;
            height: 100%;
            background: var(--dark);
            opacity: 0;
            border-radius: (16/16rem);
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
            transition: transform 0.2s, border-radius 0.3s, opacity .3s ease-in-out;
        }

        &.cs-active {
            &:before, &:after {
                transform: translateX(-50%) scale(1.03);
            }

            .cs-toggle {
                transform: rotate(180deg);
            }

            .cs-ul-wrapper {
                opacity: 1;
                transform: scaleY(1);
                transition-delay: 0.15s;
            }

            .cs-li {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .cs-container {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-logo {
            width: auto;
            max-width: (200/16rem);
            height: 100%;
            margin: 0 auto 0 0;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-toggle {
            width: (56/16rem);
            height: (56/16rem);
            margin: 0 0 0 auto;
            background-color: var(--primary);
            border: none;
            border-radius: (8/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 10;
            transition: transform 0.6s;
        }

        .cs-nav {
            /* sends it to the right in the 3rd position */
            order: 3;
        }

        .cs-active {
            .cs-line1 {
                top: 50%;
                transform: translate(-50%, -50%) rotate(225deg);
            }

            .cs-line2 {
                top: 50%;
                transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
                transform-origin: center;
            }

            .cs-line3 {
                opacity: 0;
                bottom: 100%;
            }
        }

        .cs-box {
            /* 24px - 28px */
            width: clamp(1.5rem, 2vw, 1.75rem);
            height: (16/16rem);
            position: relative;
        }

        .cs-line {
            width: 100%;
            height: 2px;
            background-color: #fafbfc;
            border-radius: (100/16rem);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .cs-line1 {
            top: 0;
            transition: transform 0.5s, top 0.3s, left 0.3s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
            transform-origin: center;
        }

        .cs-line2 {
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            transition: top 0.3s, left 0.3s, transform 0.5s;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-direction: normal;
            animation-fill-mode: forwards;
        }

        .cs-line3 {
            width: 66%;
            bottom: 0;
            left: 0;
            transform: none;
            transition: bottom 0.3s, opacity 0.3s;
        }

        .cs-button-outline {
            display: none;
        }
    }
}

/* Tablet - 650px - 1024px */
@media only screen and (min-width: 40.625rem) and (max-width: 1023.5px) {
    #cs-navigation {
        .cs-button-outline {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1em;
            text-align: center;
            text-decoration: none;
            padding: (16/16rem) (28/16rem);
            color: #fff;
            border: 1px solid #fff;
            border-radius: (30/16rem);
            display: block;
            z-index: 1;
        }
    }
}

/*-- -------------------------- -->
<---   Mobile Navigation Menu   -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (max-width: 1023.5px) {
    #cs-navigation {
        .cs-ul-wrapper {
            width: 100%;
            height: auto;
            padding-bottom: (48/20em);
            background-color: #08101a;
            overflow: hidden;
            border-radius: 0 0 (24/16rem) (24/16rem);
            position: absolute;
            top: 85%;
            left: 0;
            z-index: -1;
            transform: scaleY(0);
            transition: transform 0.4s;
            transform-origin: top;
        }

        .cs-ul {
            width: 100%;
            height: auto;
            max-height: 65vh;
            margin: 0;
            padding: (64/16rem) 0 0 0;
            overflow: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: (20/16rem);
        }

        .cs-li {
            text-align: center;
            list-style: none;
            width: 100%;
            margin-right: 0;
            opacity: 0;
            /* transition from these values */
            transform: translateY(-70/16rem);
            transition: transform 0.6s, opacity 0.9s;

            &:nth-of-type(1) {
                transition-delay: 0.05s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.1s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.15s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.2s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.25s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(7) {
                transition-delay: 0.35s;
            }
            &:nth-of-type(8) {
                transition-delay: 0.4s;
            }
            &:nth-of-type(9) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(10) {
                transition-delay: 0.5s;
            }
            &:nth-of-type(11) {
                transition-delay: 0.55s;
            }
            &:nth-of-type(12) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(13) {
                transition-delay: 0.65s;
            }
        }

        .cs-li-link {
            /* 16px - 24px */
            font-size: clamp(1rem, 2.5vw, 1.5rem);
            line-height: 1.2em;
            text-decoration: none;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: inline-block;
            position: relative;

            &.cs-active {
                color: var(--primary);
            }

            &:hover {
                color: var(--primary);
            }
        }
    }
}

/*-- -------------------------- -->
<---     Navigation Dropdown    -->
<--- -------------------------- -*/

/* Mobile - 1023.5px */
@media only screen and (max-width: 1023.5px) {
    #cs-navigation {
        .cs-li {
            text-align: center;
            width: 100%;
            display: block;
        }

        .cs-dropdown {
            width: 70%;
            max-width: (500/16rem);
            color: var(--bodyTextColorWhite);
            position: relative;

            &.cs-active {
                .cs-drop-ul {
                    height: auto;
                    margin: (12/16rem) 0 0 0;
                    padding: (12/16rem) 0;
                    opacity: 1;
                    visibility: visible;
                }

                .cs-drop-link {
                    opacity: 1;
                }
            }

            .cs-li-link {
                position: relative;
                transition: opacity 0.3s;
            }
        }

        .cs-drop-icon {
            width: (15/16rem);
            height: auto;
            position: absolute;
            top: 50%;
            right: (-20/16rem);
            transform: translateY(-50%);
        }

        .cs-drop-ul {
            width: 100%;
            height: 0;
            margin: 0;
            padding: 0;
            background-color: var(--primary);
            border-radius: (16/16rem);
            overflow: hidden;
            opacity: 0;
            display: flex;
            visibility: hidden;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: (12/16rem);
            transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s, visibility 0.3s;
        }

        .cs-drop-li {
            list-style: none;
        }

        .cs-li-link {
            &.cs-drop-link {
                /* 14px - 16px */
                font-size: clamp(0.875rem, 2vw, 1.25rem);
                color: #fff;
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        .cs-dropdown {
            position: relative;
            &:hover {
                cursor: pointer;
                .cs-drop-ul {
                    transform: scaleY(1);
                    opacity: 1;
                    visibility: visible;
                }

                .cs-drop-li {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .cs-drop-icon {
            width: (15/16rem);
            height: auto;
            display: inline-block;
        }

        .cs-drop-ul {
            min-width: (200/16rem);
            margin: 0;
            padding: 0;
            background-color: #08101a;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
            border-bottom: 5px solid var(--primary);
            border-radius: 0 0 (16/16rem) (16/16rem);
            /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the cs-drop-li so they don't have weird scattered animations */
            // columns: 2;
            position: absolute;
            top: 100%;
            z-index: -100;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform .3s, visibility .3s, opacity .3s;
        }

        .cs-drop-li {
            list-style: none;
            font-size: (16/16rem);
            text-decoration: none;
            opacity: 0;
            width: 100%;
            height: auto;
            color: var(--bodyTextColor);
            display: block;
            transform: translateY(-10/16rem);
            transition: opacity .6s, transform .6s;

            &:nth-of-type(1) {
                transition-delay: .05s;
            }
            &:nth-of-type(2) {
                transition-delay: .1s;
            }
            &:nth-of-type(3) {
                transition-delay: .15s;
            }
            &:nth-of-type(4) {
                transition-delay: .2s;
            }
            &:nth-of-type(5) {
                transition-delay: .25s;
            }
            &:nth-of-type(6) {
                transition-delay: .3s;
            }
            &:nth-of-type(7) {
                transition-delay: .35s;
            }
            &:nth-of-type(8) {
                transition-delay: .4s;
            }
            &:nth-of-type(9) {
                transition-delay: .45s;
            }
            &:nth-of-type(10) {
                transition-delay: .5s;
            }
            &:nth-of-type(11) {
                transition-delay: .55s;
            }
            &:nth-of-type(12) {
                transition-delay: .6s;
            }
            &:nth-of-type(13) {
                transition-delay: .65s;
            }
        }

        .cs-li-link {
            &.cs-drop-link {
                font-size: (16/16rem);
                white-space: nowrap;
                line-height: 1.5em;
                text-decoration: none;
                width: 100%;
                padding: (12/16rem);
                /* prevents padding from affecting height and width */
                box-sizing: border-box;
                color: var(--bodyTextColorWhite);
                display: block;
                transition: color .3s, background-color .3s;
    
                &:hover {
                    background-color: var(--primary);
                    color: #1a1a1a;
                }
    
                &:before {
                    display: none;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---     Desktop Navigation     -->
<--- -------------------------- -*/

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #cs-navigation {
        width: 91%;
        max-width: (1440/16rem);
        height: (88/16rem);
        /* prevents padding from affecting height and width */
        box-sizing: border-box;
        padding: (16/16rem) 0;
        background-color: #08101a;
        border-radius: (16/16rem);
        display: flex;
        align-items: center;
        position: fixed;
        top: (32/16rem);
        left: 50%;
        z-index: 10000;
        transform: translateX(-50%);
        transition: top 0.3s, border-radius 0.3s, width 0.3s, max-width 0.3s;

        &.scroll {
            width: 100%;
            max-width: 100%;
            border-radius: 0;
            top: 0;
        }

        .cs-container {
            width: 100%;
            max-width: (1440/16rem);
            margin: auto;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (24/16rem);
        }

        .cs-toggle {
            display: none;
        }

        .cs-logo {
            width: 24.4%;
            max-width: (281/16rem);
            height: (50/16rem);
            /* margin-right auto pushes everything away from it to the right */
            margin: 0 auto 0 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            z-index: 100;

            img {
                width: 100%;
                height: 100%;
                /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
                object-fit: contain;
            }
        }

        .cs-ul-wrapper {
            height: 100%;
            display: flex;
            align-items: center;
            /* absolutely positioned to be dead center */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .cs-ul {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            /* 20px - 36px */
            gap: clamp(1.25rem, 2.6vw, 2.25rem);
        }

        .cs-li {
            list-style: none;
            height: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            /* prevent flexbox from squishing it */
            flex: none;
        }

        .cs-li-link {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-decoration: none;
            margin: 0;
            color: #fff;
            display: block;
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }

            &.cs-active {
                color: var(--primary);
            }
        }

        .cs-button-outline {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1em;
            text-align: center;
            text-decoration: none;
            padding: (16/16rem) (28/16rem);
            color: #fff;
            border: 1px solid #fff;
            border-radius: (30/16rem);
            display: block;
            z-index: 1;
            transition: background-color .3s, color .3s;

            &:hover {
                background-color: #fff;
                color: var(--headerColor);
            }
        }
    }
}
/* End of Navigation Styles */

/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-950 {
        padding: var(--sectionPadding);
        background-color: #1a1a1a;
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            margin-bottom: (16/16rem);
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (32/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-button-solid {
            /* button styles to override the defualt button styles */
            color: #1a1a1a;
            &:before {
                /* button styles to override the defualt button styles */
                background-color: #fff;
            }
        }

        .cs-contact-group {
            width: 100%;
            margin-bottom: (32/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: (12/16rem);
        }

        .cs-link {
            text-decoration: none;
            padding-right: (30/16rem);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (16/16rem);
            position: relative;
            z-index: 1;

            &:hover {
                &:before {
                    width: 100%;
                    height: (56/16em);
                }
                .cs-wrapper {
                    transform: scale(1.2);
                }

                .cs-icon {
                    transform: translateX(0.4375rem);
                }
            }

            &:before {
                /* light green circle that animates on hover */
                content: "";
                width: (48/16rem);
                height: (48/16rem);
                background: #484848;
                opacity: 1;
                position: absolute;
                display: block;
                top: 50%;
                left: 0;
                z-index: -1;
                transform: translateY(-50%);
                transition:
                    width 0.3s,
                    height 0.3s,
                    border-radius 0.3s;
            }
        }

        .cs-wrapper {
            width: (48/16rem);
            height: (48/16rem);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            transition: transform 0.3s;
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
            transition: transform 0.3s;
        }

        .cs-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (4/16rem);
        }

        .cs-header {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--bodyTextColorWhite);
            display: block;
        }

        .cs-link-content {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
            display: block;
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size: ~"min(2.24vw, .844em)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (650/16em);
            height: (687/16em);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            /* clips the image to match the border radius of the cs-picture */
            overflow: hidden;
            display: block;
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            width: (349/16em);
            height: (590/16em);
            top: (49/16em);
            left: 0;
        }

        .cs-picture2 {
            width: (281/16em);
            height: (387/16em);
            top: 0;
            right: 0;
        }

        .cs-picture3 {
            width: (281/16em);
            height: (280/16em);
            bottom: 0;
            right: 0;
        }

        .cs-seal {
            width: (150/16em);
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-30%, -40%);
        }

        .cs-floater {
            display: none;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-950 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size: ~"min(1.15vw, 1em)";
            margin: 0;
            /* prevents flexbox from squishing it */
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-content {
            width: 51%;
        }

        .cs-floater {
            right: auto;
            left: (-50/16rem);
            transform: scaleX(-1);
        }
    }
}

/* Large Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
    #sbsr-950 {
        .cs-floater {
            width: (445/16rem);
            height: auto;
            display: block;
            position: absolute;
            right: 0;
            top: (20/16rem);
        }
    }
}
/* End of Side By Side Reverse Styles */


/*-- -------------------------- -->
<---        Why Choose          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#why-2392 {
		padding: var(--sectionPadding);
		/* 48px - 64px */
		padding-bottom: clamp(2.5rem, 6vw, 4rem);
		background-color: #fbf9f5;
		position: relative;
		z-index: 1;

		.cs-container {
			width: 100%;
			/* changes to 1280px at tablet */
			max-width: (704/16rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: stretch;
			/* 48px - 64px */
			gap: clamp(3rem, 7vw, 4rem);
		}

		.cs-content {
			/* set text align to center if content needs to be center aligned */
			text-align: left;
			width: 100%;
			max-width: (630/16rem);
			overflow: hidden;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
		}

		.cs-title {
			max-width: 20ch;
			margin: 0;
			margin-bottom: (32/16rem);
			/* 48px - 64px */
			padding-bottom: clamp(3rem, 7vw, 4rem);
			position: relative;
			z-index: 1;

			&:before {
				content: "";
				width: 100vw;
				height: 1px;
				background: #d2d8df;
				opacity: 1;
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}

		.cs-text {
			margin-bottom: (16/16rem);

			&:last-of-type {
				margin-bottom: (32/16rem);
			}
		}

		.cs-button-solid {
			font-size: (16/16rem);
			line-height: 3.5em;
			text-decoration: none;
			font-weight: 700;
			overflow: hidden;
			width: auto;
			margin: 0;
			color: #fff;
			padding: 0 (48/16rem);
			border-radius: (100/16rem);
			overflow: hidden;
			background-color: var(--primary);
			display: inline-block;
			position: relative;
			z-index: 1;
			transition: color 0.3s;

			&:before {
				content: "";
				position: absolute;
				display: block;
				height: 100%;
				width: 0%;
				background: #1a1a1a;
				opacity: 1;
				top: 0;
				left: 0;
				z-index: -1;
				transition: width 0.3s;
			}

			&:hover {
				color: var(--primary);
			}

			&:hover:before {
				width: 100%;
			}
		}

		.cs-wrapper {
			display: flex;
			flex-direction: column;
			gap: (48/16rem);
		}

		.cs-card-group {
			margin: 0;
			padding: 0;
			width: 100%;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			gap: (20/16rem);
		}

		.cs-item {
			width: 100%;
			text-align: left;
			list-style: none;
			margin: 0;
			/* 24px - 32px */
			padding: clamp(1.5rem, 3vw, 2rem);
			border-radius: (16/16rem);
			background-color: #fff;
			/* prevents padding and border from affecting height and width */
			box-sizing: border-box;
			grid-column: span 12;
			grid-row: span 1;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			position: relative;
			gap: (32/16rem);
		}

		.cs-icon {
			height: (120/16rem);
			width: auto;
			display: block;
		}

		.cs-h3 {
			/* 20px - 25px */
			font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
			line-height: 1.2em;
			font-weight: bold;
			text-align: inherit;
			margin: 0 0 (12/16rem) 0;
			color: var(--headerColor);
		}

		.cs-item-text {
			line-height: 1.5em;
			max-width: (450/16rem);
			margin: 0;
			padding: 0;
			color: var(--bodyTextColor);
		}

		.cs-picture {
			width: 100%;
			/* 310px - 356px */
			height: clamp(19.375rem, 30vw, 22.25rem);
			border-radius: (16/16rem);
			/* clips the corners of the img tag */
			overflow: hidden;
			display: block;
			position: relative;

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#why-2392 {
		.cs-item {
			flex-direction: row;
			align-items: center;
		}
	}
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#why-2392 {
		.cs-container {
			max-width: (1280/16rem);
			flex-direction: row;
			align-items: stretch;
		}

        .cs-content {
            flex: none;
        }

		.cs-card-group {
			width: 55%;
			max-width: (586/16rem);
			/* prevents flexbox from squishing it */
			flex: none;
		}

        .cs-picture {
            height: 100%;
            min-height: (356/16rem);
        }
	}
}
/* End of Why Choose Styles */

/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-861 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (500/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 25ch;
        }

        .cs-text {
            max-width: (900/16rem);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 1.8vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            margin: 0;
            /* 20px - 32px left & right */
            /* 20px - 32px bottom */
            padding: 0 clamp(1.25rem, 3vw, 2rem) clamp(1.25rem, 3vw, 2rem);
            /* prevent padding from affecting height and width */
            box-sizing: border-box;
            background-color: #fff;
            border: 1px solid #f4f4f4;
            /* clips corners */
            overflow: hidden;
            border-radius: (24/16rem);
            display: flex;
            flex-direction: column;
            align-items: stretch;
            grid-column: span 12;

            &.cs-popular {
                .cs-background {
                    background-color: #1a1a1a;
                    img {
                        opacity: 1;
                    }
                }

                .cs-package {
                    color: var(--primary);
                }

                .cs-price,
                .cs-desc {
                    color: var(--bodyTextColorWhite);
                }

                .cs-desc {
                    opacity: 0.8;
                }
            }
        }

        .cs-top {
            padding: (40/16rem) 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            z-index: 1;
        }

        .cs-background {
            background-color: #fef7f4;
            position: absolute;
            top: 0;
            bottom: 0;
            /* same as cs-item padding left and right */
            left: (-32/16rem);
            right: (-32/16rem);
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                opacity: 0;
            }
        }

        .cs-package {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            font-weight: 700;
            width: 100%;
            margin: 0;
            color: #767676;
            display: block;
        }

        .cs-price {
            /* 39px - 49px */
            font-size: clamp(2.4375rem, 5vw, 3.0625rem);
            line-height: 1.2em;
            text-align: center;
            font-weight: 900;
            margin: 0;
            color: var(--headerColor);
            display: block;
            /* so it's even with the bottom of the cs-desc */
            transform: translateY(0.5625rem);
        }

        .cs-desc {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-align: center;
            margin: 0 0 0 (8/16rem);
            color: var(--bodyTextColor);
            opacity: 0.8;
            display: block;
        }

        .cs-ul {
            /* 24px - 40px */
            margin: clamp(1.5rem, 4vw, 2.5rem) 0 (32/16rem) 0;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.2em;
            width: 100%;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: space-between;
            /* push everything to the top so if the li goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: (16/16rem);

            &.cs-disabled {
                opacity: 0.4;
                filter: grayscale(1);
            }
        }

        .cs-icon {
            width: (18/16rem);
            height: auto;
            display: block;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-price-button {
            /* pushes up against the cs-ul so if there's loess li's in the list, the button always pushes itself to the bottom */
            margin-top: auto;
            width: 100%;
            border-radius: 0;
            &:before {
                border-radius: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-861 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 6;

            &.cs-popular {
                grid-column: span 12;
                order: -1;
            }
        }
    }
}

/* Tablet - 900px */
@media only screen and (min-width: 59.375rem) {
    #pricing-861 {
        .cs-item {
            grid-column: span 4;
            &.cs-popular {
                grid-column: span 4;
                order: initial;
            }
        }
    }
}
/* End of Pricing Styles */
                                
                                

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #footer-2395 {
        padding: var(--sectionPadding);
        background-color: #08101A;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
        }

        .cs-logo {
            width: 90%;
            max-width: (321/16rem);
            height: auto;
            margin-bottom: (16/16rem);
            display: block;

            img {
                width: 100%;
                height: auto;
            }
        }

        .cs-text {
            text-align: inherit;
            /* 32px - 40px */
            margin: 0 0 clamp(2rem, 5vw, 2.5rem);
            color: #E8EBEF;
        }

        .cs-contact-info {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* 8px - 12px */
            gap: clamp(0.5rem, 1.5vw, 0.75rem);
        }

        .cs-header {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin-bottom: (16/16rem);
            color: #fff;
            display: block;
        }

        .cs-contact-link {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: inherit;
            text-decoration: none;
            margin: 0;
            color: #E8EBEF;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
            transition: color 0.3s;

            &:hover {
                color: var(--primary);
            }
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
            display: block;
        }

        .cs-social {
            /* 24px - 32px */
            margin-top: clamp(1.5rem, 5vw, 2rem);
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            gap: (8/16rem);
        }

        .cs-social-link {
            width: (32/16rem);
            height: (32/16rem);
            border-radius: 50%;
            border: 1px solid #D2D8DF;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color .3s, border-color .3s;

            &:hover {
                background-color: var(--primary);
                border-color: var(--primary);
            }
        }

        .cs-social-icon {
            width: (12/16rem);
            height: auto;
            display: block;
        }

        .cs-service-group {
            margin-top: (48/16rem);
            padding-top: (48/16rem);
            border-top: 1px solid rgba(255, 255, 255, .12);
            display: flex;
            flex-direction: column;

            .cs-header {
                margin-bottom: (24/16rem);
            }
        }

        .cs-ul {
            margin: 0 0 (64/16rem);
            padding: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: (8/16rem);
        }

        .cs-li {
            list-style: none;
            grid-column: span 2;
        }

        .cs-link, .cs-copyright {
            font-size: (16/16rem);
            text-decoration: none;
            line-height: 1.5em;
            margin: 0;
            color: #E8EBEF;
            display: block;
        }

        .cs-link {
            transition: color .3s;
            &:hover {
                color: var(--primaryLight);
            }
        }

        .cs-terms {
            margin-bottom: (12/16rem);
            display: flex;
            flex-wrap: wrap;
            gap: (16/16rem);

            .cs-link {
                display: flex;
                align-items: center;
                position: relative;
                z-index: 1;

                &:after {
                    content: '';
                    width: 4px;
                    height: 4px;
                    margin-left: (16/16rem);
                    background: #fff;
                    border-radius: 50%;
                    opacity: 1;
                    display: block;
                }

                &:last-of-type {
                    &:after {
                        display: none;
                    }
                }
            }
        }

        .cs-copyright {
            display: flex;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-floater {
            /* 500px -635px */
            width: clamp(31.25rem, 50vw, 39.6875rem);
            height: auto;
            filter: blur(180px);
            opacity: .44;
            position: absolute;
            bottom: (-20/16rem);
            right: (-240/16rem);
            z-index: -2;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 700px) {
    #footer-2395 {
        .cs-ul {
            column-gap: (64/16rem);
        }

        .cs-li {
            grid-column: span 1;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #footer-2395 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            /* 48px - 64px */
            column-gap: clamp(3rem, 3.8vw, 4rem);
        }

        .cs-logo-group {
            width: 33%;
            max-width: (386/16rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-service-group {
            width: 100%;
            max-width: (672/16rem);
            height: auto;
            margin: 0;
            padding-top: 0;
            /* 48px - 64px */
            padding-left: clamp(3rem, 5.8vw, 4rem);
            border: none;
            border-left: 1px solid rgba(255, 255, 255, 0.12);
        }

        .cs-terms {
            margin-top: auto;
        }

        .cs-floater {
            bottom: (-220/16rem);
        }
    }
}

/* Large Desktop - 1800px */
@media only screen and (min-width: 1800px) {
    #footer-2395 {
        .cs-floater {
            margin-left: (350/16rem);
            right: auto;
            left: 50%;
        }
    }
}
/* End of Footer Styles */