---
title: "Welcome"
description: "Your new website"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="hero-929">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">REDEEMED ARROW BEHAVIOR CONSULTING</h2>
            <div class="cs-flex">
                <div class="cs-content-group">
                    <p class="cs-text">
                        <strong>Redeemed Arrow Behavior Consulting</strong> is a leading behavioral consulting firm that helps individuals and organizations unlock their full potential through evidence-based strategies and personalized approaches.
                    </p>
                    <a href="" class="cs-button-solid">Book An Appointment</a>
                </div>
                <div class="cs-hours-group">
                    <span class="cs-header">Business Hours</span>
                    <div class="cs-hours">
                        <span class="cs-day">Mon-Fri</span>
                        <span class="cs-time">10AM-8PM</span>
                    </div>
                    <div class="cs-hours">
                        <span class="cs-day">Sat</span>
                        <span class="cs-time">11AM-6PM</span>
                    </div>
                    <div class="cs-hours">
                        <span class="cs-day">Sun</span>
                        <span class="cs-time">Closed</span>
                    </div>
                </div>
            </div>
            <!--We need this wrapper div so we can place the cs-tagline around the cs-picture image. We can only place images inside picture tags so the cs-tagline can't go in there. hence we HAVE to make a div wrapper so they can be placed together-->
            <div class="cs-picture-group">
                <span class="cs-tagline">Behavior. Coaching. Transformation.</span>
                <!--Hair Model Picture-->
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/woman-m.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/woman.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/woman.png" alt="hair model" width="576" height="598">
                </picture>
            </div>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/salon.jpg" alt="salon interior" width="1920" height="804">
    </picture>
</section>
                                

{% endblock %}
